numpy>=1.26
pandas>=2.2
scikit-learn>=1.2
pytest>=8.0
hunspell>=0.5
pyspellchecker>=0.8
spacy>=3.8
symspellpy>=6.9
torch>=2.6
urlextract>=1.9
emot>=3.1
iterative-stratification>=0.1.9
sentence_transformers>=4.1
langchain>=0.3
xgboost>=2.0
optuna>=4.5
invoke>=2.2
